<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Produits</title>
</head>
<body>
<h1>Produits</h1>
<a th:href="@{/produits/ajouter}">Ajouter un Produit</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produit : ${produits}">
        <td th:text="${produit.id}"></td>
        <td th:text="${produit.nom}"></td>
        <td th:text="${produit.description}"></td>
        <td th:text="${produit.prix}"></td>
        <td>
            <a th:href="@{/produits/modifier/{id}(id=${produit.id})}">Modifier</a>
            <a th:href="@{/produits/supprimer/{id}(id=${produit.id})}">Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
